<div id="Cost" class="section calculator section-item">
    <div class="wrapper">
        <div class="calculator_inner">
            <div class="calculator_products">
                <div class="calculator_products_item" data-id="gray">
                    <div class="calculator_products_item-imgBlock">
                        <picture>
                            <source media="(max-width: 740px)" srcset="img/calc-mob-1.png">
                            <source media="(min-width: 740px)" srcset="img/calc-1.png">
                            <img class="calculator_products_item-img" src="img/calc-1.png">
                        </picture>
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M10.3573 19.8112C15.4006 19.8112 19.489 15.5183 19.489 10.2228C19.489 4.92736 15.4006 0.634521 10.3573 0.634521C5.314 0.634521 1.22559 4.92736 1.22559 10.2228C1.22559 15.5183 5.314 19.8112 10.3573 19.8112Z"
                                      fill="#132BE2"></path>
                                <path d="M10.3575 20.6163C4.89988 20.6163 0.458984 15.9541 0.458984 10.2229C0.458984 4.49241 4.89988 -0.170532 10.3575 -0.170532C15.8158 -0.170532 20.2559 4.49241 20.2559 10.2229C20.2559 15.9541 15.8158 20.6163 10.3575 20.6163ZM10.3575 1.43959C5.74481 1.43959 1.99244 5.37958 1.99244 10.2229C1.99244 15.0662 5.74481 19.0061 10.3575 19.0061C14.9701 19.0061 18.7225 15.0653 18.7225 10.2229C18.7225 5.37958 14.9701 1.43959 10.3575 1.43959Z"
                                      fill="#132BE2"></path>
                                <path d="M10.3566 14.9808C9.93335 14.9808 9.58984 14.6209 9.58984 14.1757V6.12503C9.58984 5.68063 9.93335 5.31995 10.3566 5.31995C10.7798 5.31995 11.1233 5.68063 11.1233 6.12503V14.1757C11.1233 14.6209 10.7798 14.9808 10.3566 14.9808Z"
                                      fill="white"></path>
                                <path d="M14.1909 10.9554H6.52358C6.10034 10.9554 5.75684 10.5947 5.75684 10.1504C5.75684 9.70596 6.10034 9.34528 6.52358 9.34528H14.1909C14.6149 9.34528 14.9576 9.70596 14.9576 10.1504C14.9576 10.5947 14.6149 10.9554 14.1909 10.9554Z"
                                      fill="white"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="20" height="21" fill="white"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>

                    <div class="calculator_products_item-color">
                        <img src="img/calc-min-1.png">
                        <p>Խավիար Գրեյ</p>
                    </div>
                </div>
                <div class="calculator_products_item" data-id="brown">
                    <div class="calculator_products_item-imgBlock">
                        <picture>
                            <source media="(max-width: 740px)" srcset="img/calc-mob-2.png">
                            <source media="(min-width: 740px)" srcset="img/calc-2.png">
                            <img class="calculator_products_item-img" src="img/calc-2.png">
                        </picture>
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M10.3573 19.8112C15.4006 19.8112 19.489 15.5183 19.489 10.2228C19.489 4.92736 15.4006 0.634521 10.3573 0.634521C5.314 0.634521 1.22559 4.92736 1.22559 10.2228C1.22559 15.5183 5.314 19.8112 10.3573 19.8112Z"
                                      fill="#132BE2"></path>
                                <path d="M10.3575 20.6163C4.89988 20.6163 0.458984 15.9541 0.458984 10.2229C0.458984 4.49241 4.89988 -0.170532 10.3575 -0.170532C15.8158 -0.170532 20.2559 4.49241 20.2559 10.2229C20.2559 15.9541 15.8158 20.6163 10.3575 20.6163ZM10.3575 1.43959C5.74481 1.43959 1.99244 5.37958 1.99244 10.2229C1.99244 15.0662 5.74481 19.0061 10.3575 19.0061C14.9701 19.0061 18.7225 15.0653 18.7225 10.2229C18.7225 5.37958 14.9701 1.43959 10.3575 1.43959Z"
                                      fill="#132BE2"></path>
                                <path d="M10.3566 14.9808C9.93335 14.9808 9.58984 14.6209 9.58984 14.1757V6.12503C9.58984 5.68063 9.93335 5.31995 10.3566 5.31995C10.7798 5.31995 11.1233 5.68063 11.1233 6.12503V14.1757C11.1233 14.6209 10.7798 14.9808 10.3566 14.9808Z"
                                      fill="white"></path>
                                <path d="M14.1909 10.9554H6.52358C6.10034 10.9554 5.75684 10.5947 5.75684 10.1504C5.75684 9.70596 6.10034 9.34528 6.52358 9.34528H14.1909C14.6149 9.34528 14.9576 9.70596 14.9576 10.1504C14.9576 10.5947 14.6149 10.9554 14.1909 10.9554Z"
                                      fill="white"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="20" height="21" fill="white"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>

                    <div class="calculator_products_item-color">
                        <img src="img/calc-min-2.png">
                        <p>Պեկան Բրաուն</p>
                    </div>
                </div>
                <div class="calculator_products_item" data-id="branded">
                    <div class="calculator_products_item-imgBlock">
                        <picture>
                            <source media="(max-width: 740px)" srcset="img/calc-mob-3.png">
                            <source media="(min-width: 740px)" srcset="img/calc-3.png">
                            <img class="calculator_products_item-img" src="img/calc-3.png">
                        </picture>
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M10.3573 19.8112C15.4006 19.8112 19.489 15.5183 19.489 10.2228C19.489 4.92736 15.4006 0.634521 10.3573 0.634521C5.314 0.634521 1.22559 4.92736 1.22559 10.2228C1.22559 15.5183 5.314 19.8112 10.3573 19.8112Z"
                                      fill="#132BE2"></path>
                                <path d="M10.3575 20.6163C4.89988 20.6163 0.458984 15.9541 0.458984 10.2229C0.458984 4.49241 4.89988 -0.170532 10.3575 -0.170532C15.8158 -0.170532 20.2559 4.49241 20.2559 10.2229C20.2559 15.9541 15.8158 20.6163 10.3575 20.6163ZM10.3575 1.43959C5.74481 1.43959 1.99244 5.37958 1.99244 10.2229C1.99244 15.0662 5.74481 19.0061 10.3575 19.0061C14.9701 19.0061 18.7225 15.0653 18.7225 10.2229C18.7225 5.37958 14.9701 1.43959 10.3575 1.43959Z"
                                      fill="#132BE2"></path>
                                <path d="M10.3566 14.9808C9.93335 14.9808 9.58984 14.6209 9.58984 14.1757V6.12503C9.58984 5.68063 9.93335 5.31995 10.3566 5.31995C10.7798 5.31995 11.1233 5.68063 11.1233 6.12503V14.1757C11.1233 14.6209 10.7798 14.9808 10.3566 14.9808Z"
                                      fill="white"></path>
                                <path d="M14.1909 10.9554H6.52358C6.10034 10.9554 5.75684 10.5947 5.75684 10.1504C5.75684 9.70596 6.10034 9.34528 6.52358 9.34528H14.1909C14.6149 9.34528 14.9576 9.70596 14.9576 10.1504C14.9576 10.5947 14.6149 10.9554 14.1909 10.9554Z"
                                      fill="white"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="20" height="21" fill="white"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>

                    <div class="custom"><p class="title">Անձնական բրենդավորում և դիզայն</p></div>
                    <div class="calculator_products_item-color">
                        <img src="img/calc-min-3.png">
                        <p><span class="blue">** </span>Բրենդավորված</p>
                    </div>
                </div>
            </div>
            <div class="calculator_info">
                <p class="calculator_info_title">Մոտավոր հաշվարկ</p>
                <p class="calculator_info_suptitle">Տեղեկատվություն, թե ինչպես է կատարվում հաշվարկը</p>
                <span class="calculator_info_text">
                    <p>Որքան հաճախ եք փոխում գորգը, այնքան ավելի մատչելի է դրա սպասարկման արժեքը: Իսկ եթե ցուցակում չեք գտել ձեզ անհրաժեշտ գորգի չափը, գույնը, փոխարինման հաճախականությունը, ապա խնդիր չկա:
                        Ներկայացրեք հայց, և մեր ղեկավարը կկապվի ձեզ հետ՝ օգնելու ձեզ հաշվարկի հարցում: Մենք անհատական ուշադրություն ենք դարձնում յուրաքանչյուր հաճախորդի:</p>
                    <p id="brandedTextFirst" style="display: none;"><span class="blue">* </span>Karpett ֆունկցիոնալ գորգերի փոփոխությունները՝ տարբեր եղանակների, տեղի են ունենում կապված թիմի ոլորտային փորձառության հետ: Փոփոխությունները կատարվում են ավելի շատ ձմռանը, քան ամռանը: Ֆունկցիոնալ գորգերի թարմացումների ամսական միջին քանակը կլինի 4.5-ից ոչ պակաս:</p>
                </span>
            </div>
            <div class="calculator_basket">
            </div>
            <div class="calculator_price">
                <div class="title" style="margin-bottom: 20px;"><span class="number" id="totalPrice">2190 </span><span>դրամից</span>&nbsp;սկսած,
                    ամսական:
                </div>
                <p id="branded_text" style="display: none;"><span class="blue">** </span>Բրենդավորված գորգը վաճառվում է
                    առանձին, այն հնարավոր չէ վարձակալել: Գնելուց հետո գորգը դառնում է Ձեր սեփականւթյունը, իսկ Karpett
                    ընկերությունը երաշխավորում է Ձեր գորգը և դրա սպասարկումը <span class="blue bold">-15% զեղչով</span>:
                </p>
                <p class="blue" id="discountText" style="display: none;">-15% զեղչ</p>
                <div class="includes">
                    <p class="includes_title">Ներառում է</p>
                    <div class="includes_item">
                        <span></span>
                        <p>Առաքում անմիջապես Ձեր հասցե</p>
                    </div>
                    <div class="includes_item">
                        <span></span>
                        <p>Տեղադրում նախանշված հասցեում</p>
                    </div>
                    <div class="includes_item">
                        <span></span>
                        <p>Ռոտացիա (գորգերի թարմացում) և մաքրում ՝ համաձայն համաձայնեցված ժամկետի</p>
                    </div>
                    <div class="includes_item">
                        <span></span>
                        <p>Մասնագիտական մաքրում և ախտահանում</p>
                    </div>
                </div>
                <div class="buttons">

                    <button class="btn slide" data-slide="request">Գրանցել պատվեր</button>
                    <a class="download_link" href="#"><img src="img/Solid.png"><span>Ներբեռնեք գնացուցակը</span></a>
                </div>
            </div>
        </div>
    </div>
</div>