<section class="clients section-item" data-loop="true" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
    <div class="wrapper clients-wrapper">
        <div class="clients-header">
            <h1 class="h1 clients-title section-item__title"> Գործընկերներ</h1>
        </div>
    </div>
    <div class="clients-inner">
        <div class="clients-list clients-list__first">
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-1.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-2.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-3.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-4.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-5.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-6.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-7.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-8.jpeg" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-9.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-10.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-11.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-12.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-13.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-14.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-15.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-16.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-17.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-18.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-19.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-20.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-21.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-22.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-23.png" alt="logo">
                </div>
            </div>
            <div class="clients-item-link">
                <div class="clients-item">
                    <img src="img/logo-24.png" alt="logo">
                </div>
            </div>
        </div>
    </div>
</section>