<section class="section questions section-item">
    <div class="wrapper">
        <h2 class="section-item__title">Հաճախ տրվող հարցեր</h2>
        <div class="questions_cont">
            <div class="questions_item accordeon">
                <h3 class="questions_item_title">Որտե՞ղ կարող են կիրառվել Karpett գորգերը</h3>
                <div class="accordeon-text">
                    <p class="questions_item_text">Karpett Ֆունկցիոնալ գորգերը հիմնականում դրվում
                        են <strong><em>մուտքի դռների մոտ</em></strong>, քանի որ կեղտի և խոնավության 70% -ը դրսից է
                        ներթափանցում: Սակայն դրանք կարող են լիարժեք գործածվել նաև <strong><em>անցումային գոտիներում</em></strong>,
                        <em><strong>հաղորդակցման</strong></em> և <em><strong>աշխատանքային գոտիներում</strong></em>,
                        <strong><em>աղտոտվող գոտիներում</em></strong> — որտեղ կա շատ շարժ՝ հետևաբար նաև շատ
                        աղտոտվածություն:</p>
                </div>

            </div>
            <div class="questions_item accordeon">
                <h3 class="questions_item_title">Որտե՞ղ են գորգերն արտադրվում</h3>
                <div class="accordeon-text">
                    <p class="questions_item_text">Գորգերը 100%-ով արտադրվում են <strong><em>Բելգիայում</em></strong>՝
                        համապատասխանելով որակի և անվտանգության կանոնների եվրոպական
                        <a href="https://canceltimesharegeek.com/how-many-marriott-points-for-a-free-stay/" >չափանիշներին</a>:
                    </p>

                </div>

            </div>
            <div class="questions_item accordeon">
                <h3 class="questions_item_title">Ինչպե՞ս են մաքրվում և փոխվում Karpett ֆունկցիոնալ գորգերը:</h3>
                <div class="accordeon-text">
                    <p class="questions_item_text">Յուրաքանչյուր գորգ, որը մենք վարձակալում ենք,
                        ռոտացվում է շաբաթական մեկ կամ երկու անգամ: Աղտոտված գորգերը փոխարինվում են մաքուր գորգերով:Դրանք
                        մաքրվում են <strong><em>հատուկ քիմիական նյութերով</em></strong>, լվացվում <strong><em>200-500 կգ
                            տարողությամբ արդյունաբերական լվացքի մեքենաներում</em> </strong>և արդյունահանվում
                        <em><strong>250 Գ-ի տակ</strong></em> ՝ լավագույն արդյունքի հասնելու համար:</p>

                </div>

            </div>
            <div class="questions_item accordeon">
                <h3 class="questions_item_title">Հաճախորդը գնում թե՞ վարձակալում է գորգը</h3>
                <div class="accordeon-text">
                    <p class="questions_item_text">
                        <strong>Ստանդարտ ֆունկցիոնալ գորգերը</strong>— Տրամադրվում են <strong><em>անվճար</em></strong>:
                        Մեր հաճախորդները վճարում են որոշակի գումար՝ սպասարկման ծառայությունների համար:
                    </p>
                    <p class="questions_item_text">
                        <strong>Բրենդավորված գորգերը</strong> — հաճախորդը <strong><em>պատվիրում և գնում է</em></strong>,
                        քանի որ դրանք պատրաստվում են միայն տվյալ հաճախորդի օգտագործման համար
                        (լոգոն, հատուկ չափը և այլն):
                        Այդ գորգերը չեն կարող օգտագործվել այլ հաճախորդների կողմից: Բրենդային Karpett ֆունկցիոնալ գորգերը
                        վաճառվում են հաճախորդին, և նա վճարում է սպասակման համար՝ -15% զեղչով:</p>
                </div>
            </div>
            <div class="questions_item accordeon">
                <h3 class="questions_item_title">Ինչո՞վ են տարբերվում Karpett ֆունկցիոնալ գորգերը մյուս գորգերից:</h3>
                <div class="accordeon-text">
                    <p class="questions_item_text">Karpett ֆունկցիոնալ գորգերն ունեն, և բարձր
                        ջերմությամբ ֆիքսված մանվածք: Սա իդեալական է դարձնում գորգերը՝ խոնավությունը, կեղտը և փոշին
                        կլանելու համար: Գորգերն ունեն նաև 100% նիտրիլային կաուչուկի պաստառ, որը հարթ է, չսահող, երբեք չի
                        կոտրվում, չի ճեղքվում:</p>
                </div>
            </div>
        </div>
    </div>
</section>