<div class="section goals section-item">
    <div class="goals_inner">
        <div class="goals_left">
            <img class="goals_img" src="img/mat.png">
            <div class="red_message message_block">
                <div class="message">
                    <p class="title">100% չսահող, նիտրիլային ռետինե ծածկ.</p>
                    <p class="text">որը մշտապես կայուն է իր տեղում:</p>
                </div>
                <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 40C24 31.1634 31.1634 24 40 24C48.8366 24 56 31.1634 56 40C56 48.8366 48.8366 56 40 56C31.1634 56 24 48.8366 24 40Z" fill="white"></path>
                    <circle class="shadow" cx="40" cy="40" r="40" fill="#0054F0" fill-opacity="0.1"></circle>
                    <circle class="circle" cx="40" cy="40" r="8" fill="#132BE2" fill-opacity="0.5"></circle>
                </svg>



            </div>
            <div class="blue_message message_block">
                <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 40C24 31.1634 31.1634 24 40 24C48.8366 24 56 31.1634 56 40C56 48.8366 48.8366 56 40 56C31.1634 56 24 48.8366 24 40Z" fill="white"></path>
                    <circle class="shadow" cx="40" cy="40" r="40" fill="#0054F0" fill-opacity="0.1"></circle>
                    <circle class="circle" cx="40" cy="40" r="8" fill="#132BE2" fill-opacity="0.5"></circle>
                </svg>




                <div class="message">
                    <p class="title">Տաքությունով ֆիքսված խիտ մանվածք.</p>
                    <p class="text">որը կլանում է մինչև 1.703լ ջուր և 1430գր կեղտ՝ մեկ քկմ-ում:</p>
                </div>
            </div>
            <div class="goals_left-text">
                <img class="goals_right-text_icon" src="img/fa-solid_quote-left.png">
                <p class="goals_right-text">Կարպետ ֆունկցիոնալ գորգերի օգտագործումը պաշտպանում է Ձեր հաստատությունը խոնավությունից, կեղտից և փոշուց ՝ այն ավելի մաքուր և անվտանգ դարձնելով:</p>
            </div>
        </div>
        <div id="Professionalmats" class="goals_right">
            <div class="goals_right-top">
                <p class="goals_right-title">Մեր նպատակն է օգնել բիզնեսներին, կազմակերպություններին պահել իրենց տեղանքը </p>                         <p class="goals_right-suptitle">Մաքուր, անվտանգ և չկրկնվող</p>
            </div>
            <div class="goals_right-bottom">
                <img class="goals_right-text_icon" src="img/fa-solid_quote-left.png">
                <p class="goals_right-text">Կարպետ ֆունկցիոնալ գորգերի օգտագործումը պաշտպանում է Ձեր հաստատությունը խոնավությունից, կեղտից և փոշուց ՝ այն ավելի մաքուր և անվտանգ դարձնելով:   </p>
            </div>
        </div>
    </div>
</div>