<div class="section intro section-item">
    <div class="wrapper">
        <div class="intro_inner">
            <div class="intro_left">
                <p class="intro_title">Կարպետը Հայաստանում առաջին ընկերությունն է, որը որպես Ֆունկցիոնալ գորգերի վարձույթի ծառայություն առաջարկում է պրոֆեսիոնալ գորգային լուծումներ:</p>
                <p class="intro_text">Ընկերությունը տրամադրում է բարձր դասի Ֆունկցիոնալ գորգեր՝ բիզնեսների և ընկերությունների համար:</p>
                <button class="intro_btn slide" data-slide="Cost">Հաշվեք արժեքը</button>
            </div>
            <div class="intro_right"><img class="intro_img" src="img/Slice.png"><span class="line" style="right: 1000px;"></span><button class="intro_btn slide" data-slide="Cost">Հաշվեք արժեքը</button></div>
        </div>
       </div>
</div>