<div id="request" class="section send_request section-item">
    <div class="wrapper">
        <div class="send_request_inner">
            <div class="send_request_inner-left">

                <div role="form" class="wpcf7" id="wpcf7-f319-o1" lang="ru-RU" dir="ltr">
                    <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p>
                        <ul></ul>
                    </div>
                    <form action="/mail.php" method="post" class="wpcf7-form init" novalidate="novalidate"
                          data-status="init">
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="319">
                            <input type="hidden" name="_wpcf7_version" value="5.4.1">
                            <input type="hidden" name="_wpcf7_locale" value="ru_RU">
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f319-o1">
                            <input type="hidden" name="_wpcf7_container_post" value="0">
                            <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                        </div>
                        <p class="send_request_title">Օգտվե՛ք Karpett ֆունկցիոնալ գորգերի վարձակալությունից</p>
                        <p class="send_request_text">Թողեք մեզ Ձեր տվյալները, և մեր մենեջերը 1 ժամից Ձեզ հետ կապ
                            կհաստատի:</p>
                        <div class="send_request_form">
                            <input type="hidden" name="hidden" value="" id="totalPriceInput"><br>
                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value=""
                                                                                   size="40"
                                                                                   class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required send_request_input"
                                                                                   aria-required="true"
                                                                                   aria-invalid="false"
                                                                                   placeholder="Ձեր անունը"></span><br>
                            <span class="wpcf7-form-control-wrap phone"><input type="text" name="phone" value=""
                                                                               size="40"
                                                                               class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required send_request_input"
                                                                               aria-required="true" aria-invalid="false"
                                                                               placeholder="Հեռախոսահամարը"></span><br>
                            <input type="submit" value="Հայցել պատվեր"
                                   class="wpcf7-form-control wpcf7-submit send_request_btn"><span
                                class="ajax-loader"></span>
                            <p></p>
                        </div>
                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                    </form>
                </div>
            </div>
            <div class="send_request_inner-right">
                <img src="img/Slice1.png">
                <img class="mobile" src="img/Slice2.png"></div>
        </div>
    </div>
</div>