<section class="section works section-item">
    <div class="wrapper">
        <h2 class="works_title section-item__title">Մեր աշխատանքները</h2>
        <div class="works_cont">
            <!--                <div class="swiper-container">-->
            <!--&lt;!&ndash;                    <div class="swiper-slide works_item">&ndash;&gt;-->
            <!--&lt;!&ndash;                        <img src="img/work-1.jpg" alt="">&ndash;&gt;-->
            <!--&lt;!&ndash;                    </div>&ndash;&gt;-->
            <!--                    &lt;!&ndash; Swiper &ndash;&gt;-->
            <!--                </div>-->
        </div>
</section>